.message {
    padding: 5px;
    margin-bottom: 0px;
    border-radius: 5px;
    justify-content: space-between; 
}
  
.error {
    background-color: #ffcccc;
    color: #cc0000;
}

.success {
    background-color: #ccffcc;
    color: #008000;
}

.close-btn {
    background: none;
    text-align: right;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #222222;
    margin-left: 35%;
}
  