.student-actions {
  margin-bottom: 15px;
}

.create-student-btn {
  background-color: #f5f5f5;
  color: rgb(0, 0, 0);
  padding: 8px 15px;
  border: rgb(121, 121, 121) 2pt solid;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.create-student-btn:hover {
  background-color: rgb(36, 36, 36);
  color: white;
  transform: scale(1.05) translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: black 2pt solid;
}
